group Build
	source https://nuget.org/api/v2
	nuget FAKE
	nuget nunit.runners 2.6.4
	nuget SourceLink.Fake
	nuget Octokit
	nuget FSharp.Formatting
	nuget fsharplint
	nuget Google.Protobuf
	
	github fsharp/FAKE modules/Octokit/Octokit.fsx

group Main
	source https://nuget.org/api/v2
	nuget FsPickler
	nuget Google.Protobuf
	nuget thrift
	nuget newtonsoft.json
	
	github prolucid/protoshell src/main/proto/multilang.proto
	github prolucid/thriftshell src/main/multilang.thrift
	github apache/storm storm-core/src/storm.thrift

group Tests
	source https://nuget.org/api/v2
	nuget nunit 2.6.4
	nuget unquote

group Run
	http https://github.com/Prolucid/thriftshell/releases/download/v0.0.1/thriftshell-0.0.1-SNAPSHOT-jar-with-dependencies.jar
	http https://github.com/Prolucid/protoshell/releases/download/v0.0.1/protoshell-0.0.1-SNAPSHOT-jar-with-dependencies.jar